## importing required packages

- import numpy for linear algebra
- import pandas for loading the dataset, data processing
- import matplotlib and seaborn for visualization

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## load the datasets

- to take the sample :
  - we sample() function of pandas to extract sample from pandas.dataframe, using the random sampling method

###### august, 2019

In [2]:
df_2019_aug = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2019-08.csv')
df20 = df_2019_aug.sample(n = 50000)
# df20.head()
# df_2019_aug.shape

C:\Users\onkar\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

#### september, 2019

In [3]:
df_2019_sept = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2019-09.csv')
df21 = df_2019_sept.sample(n = 50000)
# df1.head()
# df_2019_sept.shape

#### october, 2019

In [4]:
df_2019_oct = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2019-10.csv')
df22 = df_2019_oct.sample(n = 50000)
# df1.head()
# df_2019_oct.shape

#### november, 2019

In [5]:
df_2019_nov = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2019-11.csv')
df23 = df_2019_nov.sample(n = 50000)
# df1.head()
# df_2019_nov.shape

#### december, 2019

In [6]:
df_2019_dec = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2019-12.csv')
df24 = df_2019_dec.sample(n = 50000)
# df1.head()
# df_2019_dec.shape

#### january. 2020

In [7]:
df_2020_jan = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-01.csv')
df1 = df_2020_jan.sample(n = 50000)
# df1.head()
df_2020_jan.shape

(6405008, 18)

###### february, 2020

In [8]:
df_2020_feb = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-02.csv')
df2 = df_2020_feb.sample(n = 50000)
# df2.head()

###### march, 2020

In [9]:
df_2020_mar = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-03.csv')
df3 = df_2020_mar.sample(n = 50000)
# df3.head()

###### aprl, 2020

In [10]:
df_2020_apr = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-04.csv')
df4 = df_2020_apr.sample(n = 50000)
# df4.head()

###### may, 2020

In [11]:
df_2020_may = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-05.csv')
df5 = df_2020_may.sample(n = 50000)
# df5.head()

###### june,2020

In [12]:
df_2020_jun = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-06.csv')
df6 = df_2020_jun.sample(n = 50000)
# df6.head()

###### july, 2020

In [13]:
df_2020_jul = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-07.csv')
df7 = df_2020_jul.sample(n = 50000)
# df7.head()

###### august, 2020

In [14]:
df_2020_aug = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-08.csv')
df8 = df_2020_aug.sample(n = 50000)
# df8.head()

###### september, 2020

In [15]:
df_2020_sept = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-09.csv')
df9 = df_2020_sept.sample(n = 50000)
# df9.head()

###### october, 2020

In [16]:
df_2020_oct = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-10.csv')
df10 = df_2020_oct.sample(n = 50000)
# df10.head()

###### november, 2020

In [17]:
df_2020_nov = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-11.csv')
df11 = df_2020_nov.sample(n = 50000)
# df11.head()

###### december, 2020

In [18]:
df_2020_dec = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-12.csv')
df12 = df_2020_dec.sample(n = 50000)
# df12.head()

###### january, 2021

In [19]:
df_2021_jan = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2021-01.csv')
df13 = df_2021_jan.sample(n = 50000)
# df13.head()

###### february, 2021

In [20]:
df_2021_feb = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2021-02.csv')
df14 = df_2021_feb.sample(n = 50000)
# df14.head()

###### march, 2021

In [21]:
df_2021_mar = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2021-03.csv')
df15 = df_2021_mar.sample(n = 50000)
# df15.head()

###### april, 2021

In [22]:
df_2021_apr = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2021-04.csv')
df16 = df_2021_apr.sample(n = 50000)
# df16.head()

###### may, 2021

In [23]:
df_2021_may = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2021-05.csv')
df17 = df_2021_may.sample(n = 50000)
# df17.head()

###### june, 2021

In [24]:
df_2021_jun = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2021-06.csv')
df18 = df_2021_jun.sample(n = 50000)
# df18.head()

###### july, 2021

In [25]:
df_2021_jul = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2021-07.csv')
df19 = df_2021_jul.sample(n = 50000)
# df19.head()

###### to merge the datasets:

- we use the concat() function of pandas to merge all the samples of datasets

In [26]:
df_merged = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24])
df_merged.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1202788,1.0,2020-01-07 21:38:40,2020-01-07 21:45:13,2.0,1.00,1.0,N,249,113,1.0,6.5,3.0,0.5,2.55,0.0,0.3,12.85,2.5
4785197,2.0,2020-01-24 20:09:35,2020-01-24 20:52:36,1.0,3.99,1.0,N,144,142,1.0,26.0,0.5,0.5,5.96,0.0,0.3,35.76,2.5
2799606,2.0,2020-01-15 13:37:54,2020-01-15 13:40:47,1.0,0.43,1.0,N,238,238,1.0,4.0,0.0,0.5,2.19,0.0,0.3,9.49,2.5
3054718,2.0,2020-01-16 16:22:45,2020-01-16 16:28:19,1.0,0.60,1.0,N,164,137,1.0,5.5,1.0,0.5,1.00,0.0,0.3,10.80,2.5
99669,1.0,2020-01-01 14:11:40,2020-01-01 14:12:28,4.0,0.00,1.0,N,132,132,4.0,2.5,0.0,0.5,0.00,0.0,0.3,3.30,0.0

###### reset the index

In [27]:
df = df_merged.reset_index(drop=True)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-07 21:38:40,2020-01-07 21:45:13,2.0,1.00,1.0,N,249,113,1.0,6.5,3.0,0.5,2.55,0.0,0.3,12.85,2.5
1,2.0,2020-01-24 20:09:35,2020-01-24 20:52:36,1.0,3.99,1.0,N,144,142,1.0,26.0,0.5,0.5,5.96,0.0,0.3,35.76,2.5
2,2.0,2020-01-15 13:37:54,2020-01-15 13:40:47,1.0,0.43,1.0,N,238,238,1.0,4.0,0.0,0.5,2.19,0.0,0.3,9.49,2.5
3,2.0,2020-01-16 16:22:45,2020-01-16 16:28:19,1.0,0.60,1.0,N,164,137,1.0,5.5,1.0,0.5,1.00,0.0,0.3,10.80,2.5
4,1.0,2020-01-01 14:11:40,2020-01-01 14:12:28,4.0,0.00,1.0,N,132,132,4.0,2.5,0.0,0.5,0.00,0.0,0.3,3.30,0.0

In [28]:
df.reset_index(inplace = True, drop = True)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-07 21:38:40,2020-01-07 21:45:13,2.0,1.00,1.0,N,249,113,1.0,6.5,3.0,0.5,2.55,0.0,0.3,12.85,2.5
1,2.0,2020-01-24 20:09:35,2020-01-24 20:52:36,1.0,3.99,1.0,N,144,142,1.0,26.0,0.5,0.5,5.96,0.0,0.3,35.76,2.5
2,2.0,2020-01-15 13:37:54,2020-01-15 13:40:47,1.0,0.43,1.0,N,238,238,1.0,4.0,0.0,0.5,2.19,0.0,0.3,9.49,2.5
3,2.0,2020-01-16 16:22:45,2020-01-16 16:28:19,1.0,0.60,1.0,N,164,137,1.0,5.5,1.0,0.5,1.00,0.0,0.3,10.80,2.5
4,1.0,2020-01-01 14:11:40,2020-01-01 14:12:28,4.0,0.00,1.0,N,132,132,4.0,2.5,0.0,0.5,0.00,0.0,0.3,3.30,0.0

## to upload on AWS S3

In [29]:
import boto3
import s3fs

In [30]:
import os

In [31]:
from secrets import access_key, secret_access_key

In [32]:
client = boto3.client('s3',
                        aws_access_key_id = access_key,
                        aws_secret_access_key = secret_access_key)

In [33]:
df.to_csv('D:/Project/Main/Sample_dataset.csv')
print("Done")

Done

In [34]:
df.shape

(1200000, 18)

In [35]:
client.upload_file('D:/Project/Main/Sample_dataset.csv', 'nyc-taxi-system', 'Sample_dataset.csv')
print("Uploaded on AWS")
os.remove('D:/Project/Main/Sample_dataset.csv')
print("File removed")

Uploaded on AWS
File removed