In [1]:
import pandas as pd
import yapf.yapflib.yapf_api

In [2]:
import boto3
import s3fs

In [3]:
import os

### Load the dataset of Taxi Zones

In [4]:
df_location = pd.read_csv("D:\\Project\\Data ( zones )\\taxi_zones.csv")

In [5]:
df_location

,X,Y,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough
0,9.352230e+05,190535.0526,1,0.116357,0.000782,Newark Airport,1,EWR
1,1.032516e+06,167292.4932,2,0.433470,0.004866,Jamaica Bay,2,Queens
2,1.025883e+06,254779.6006,3,0.084341,0.000314,Allerton,3,Bronx
3,9.906188e+05,203105.5323,4,0.043567,0.000112,Alphabet City,4,Manhattan
4,9.314680e+05,139837.4784,5,0.092146,0.000498,Arden Heights,5,Staten Island
...,...,...,...,...,...,...,...,...
258,1.023962e+06,266878.0340,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx
259,1.010930e+06,211369.8834,260,0.133514,0.000422,Woodside,260,Queens
260,9.806682e+05,197575.6899,261,0.027120,0.000034,World Trade Center,261,Manhattan
261,9.992531e+05,222193.8188,262,0.049064,0.000122,Yorkville East,262,Manhattan
262,9.977632e+05,222907.6347,263,0.037017,0.000066,Yorkville West,263,Manhattan

### import geopy module

In [6]:
from geopy.geocoders import Nominatim

### Initialize Nominatim API to get location from the input string

In [7]:
loc = Nominatim(user_agent="GetLoc")

### Finding the latitude and longitude of location

In [8]:
count = 0
latitude = []
longitude = []

In [9]:
for i in range(len(df_location)):
    try:
        getLoc = loc.geocode(df_location.iloc[i, 5])
        latitude.append(getLoc.latitude)
        longitude.append(getLoc.longitude)
    except AttributeError as ex:
        latitude.append("Latitude not found")
        longitude.append("Longitude not found")
        count += 1
print(count)

31

In [10]:
df_location['latitude']=latitude
df_location['longitude']=longitude
df_location

,X,Y,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,latitude,longitude
0,9.352230e+05,190535.0526,1,0.116357,0.000782,Newark Airport,1,EWR,40.689064,-74.177255
1,1.032516e+06,167292.4932,2,0.433470,0.004866,Jamaica Bay,2,Queens,40.603994,-73.835412
2,1.025883e+06,254779.6006,3,0.084341,0.000314,Allerton,3,Bronx,39.915319,-87.933215
3,9.906188e+05,203105.5323,4,0.043567,0.000112,Alphabet City,4,Manhattan,40.725102,-73.979583
4,9.314680e+05,139837.4784,5,0.092146,0.000498,Arden Heights,5,Staten Island,53.284833,-7.493904
...,...,...,...,...,...,...,...,...,...,...
258,1.023962e+06,266878.0340,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx,37.258842,-77.413934
259,1.010930e+06,211369.8834,260,0.133514,0.000422,Woodside,260,Queens,37.429939,-122.253856
260,9.806682e+05,197575.6899,261,0.027120,0.000034,World Trade Center,261,Manhattan,40.711888,-74.012441
261,9.992531e+05,222193.8188,262,0.049064,0.000122,Yorkville East,262,Manhattan,40.783251,-73.94472
262,9.977632e+05,222907.6347,263,0.037017,0.000066,Yorkville West,263,Manhattan,43.67047,-79.387252

### saving the dataset

In [11]:
from secrets import access_key, secret_access_key

In [12]:
client = boto3.client('s3',
                      aws_access_key_id=access_key,
                      aws_secret_access_key=secret_access_key)

In [13]:
df_location.to_csv('./Taxi_Zone_Lookup.csv')
print("DOne")

DOne

In [14]:
client.upload_file('./Taxi_Zone_Lookup.csv', 'nyc-taxi-system',
                   'Taxi_Zone_Lookup.csv')
print("Uploaded on AWS")
os.remove('./Taxi_Zone_Lookup.csv')
print("File removed")

Uploaded on AWS
File removed

In [15]:
# from secrets import access_key, secret_access_key

In [16]:
# client = boto3.client('s3')

In [17]:
# path = 's3://com.pythoncpp.bucket10/Business insights of post-COVID NYC taxi systems/Final_dataset.csv'